@font-face {
  font-family: 'Orator Std';
  src: url('../fonts/OratorStd.eot');
  src: url('../fonts/OratorStd.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OratorStd.woff2') format('woff2'),
    url('../fonts/OratorStd.woff') format('woff'),
    url('../fonts/OratorStd.ttf') format('truetype'),
    url('../fonts/OratorStd.svg#OratorStd') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Chalkduster';
  src: url('../fonts/Chalkduster.eot');
  src: url('../fonts/Chalkduster.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Chalkduster.woff2') format('woff2'),
    url('../fonts/Chalkduster.woff') format('woff'),
    url('../fonts/Chalkduster.ttf') format('truetype'),
    url('../fonts/Chalkduster.svg#Chalkduster') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Orator Std';
}

.wrap-container {
  position: relative;
  max-width: 1170px; 
  display: block; 
  margin: 0 auto;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* Navigation bar */

.navbar-nav>li>a {
  color: black;
  font-size: 1em;
}

.navbar-toggle {
  padding-right: 0px;
  margin-right: 0px;
}

.navbar-brand {
  padding-left: 0px;
}

.icon-bar {
  background-color: black;
}

.nav>li>a {
  padding-right: 25px;
  padding-left: 25px;
}

.nav-over {
  position: absolute;
  top: 60px;
  left: 0px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-over>.container {
  width: 100%;
}

.nav-bg {
  margin-top: 50px;
  position: absolute;
  top: 0px;
  background-color: white;
  filter:alpha(opacity=60); /* IE */
  -moz-opacity:0.6; /* Mozilla */
  opacity: 0.6; /* CSS3 */
  right: 0px;
  height: 70px;
  width: 100%;
}

/* Home */

.home-top {
  padding-top: 150px; 
  position: relative
}

/* Box */

.black-box {
  background-color: black;
  padding: 40px 70px 35px 70px;
  color: white;
  display: inline-block;
  font-size: 1em;
}

/* Concept */

.concept-wrapper {
  position: absolute; 
  top: 250px; 
  left: 120px; 
  max-width: 750px
}

.concept-box {
  background-color: white;
  filter:alpha(opacity=60); /* IE */
  -moz-opacity:0.6; /* Mozilla */
  opacity: 0.6; /* CSS3 */
  padding: 20px 10px 20px 10px;
  font-size: 1.2em;
  text-align: justify;
}

/* Contact */

.contact-box {
  width: 60%; 
  text-align: center; 
  float: right;
  margin-right: 100px;
}

.green-box {
  background-color: #94d08a;
  padding: 50px 50px 20px 50px;
  color: black;
  width: 450px;
  text-align: center;
  font-size: 1em;
  clear: right; 
  margin-left: 100px;
}

.google-map {
  margin-right: 100px;
  width: 60%;
  float: right;
  margin-bottom: 150px;
}

/* Footer */

.footer-socials {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

.footer {
  font-family: 'Chalkduster';
  color: black;
  font-size: 0.8em;
  width: 100%;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
}

.white-footer {
  background-color: white;
  filter:alpha(opacity=60); /* IE */
  -moz-opacity:0.6; /* Mozilla */
  opacity: 0.6; /* CSS3 */
}

.first-carte-box {
  padding: 20px 50px 20px 50px;
}

.second-carte-box {
  padding: 20px 50px 20px 50px;
}

.first-carte {
  margin-left: 100px;
  max-width: 700px;
}

.second-carte {
  width: 650px; 
  position: absolute; 
  right: 100px; 
  top: 100px;
}

.bottom-block {
  margin-top: 30px; 
  position: relative;
}

.collaborator-block {
  margin: 40px 100px 40px 100px;
}

.collaborator-texts {
  font-size: 1em;
}

.collaborator-arrow {
  right: 50px; 
  bottom: 90px; 
  position: absolute; 
  width: 30px;
}

.collaborator-left-arrow {
  left: 50px; 
  bottom: 90px; 
  position: absolute; 
  width: 30px;
}

@media (max-width: 768px) {
  .navbar-collapse {
    background-color: #fff;
  }
  .nav-over {
    top: 30px;
    z-index: 100;
  }
  .home-top {
    padding-top: 100px;
  }
  .nav-bg {
    margin-top: 30px;
    height: 50px;
  }
  .collaborator-block {
    margin: 30px 20px 30px 20px;
  }
  .collaborator-texts {
    font-size: 0.7em;
  }
  .collaborator-arrow {
    right: 40px; 
    bottom: 40px;
    width: 20px;
  }
  .collaborator-left-arrow {
    left: 40px; 
    bottom: 40px;
    width: 20px;
  }
  .black-box {
    padding: 10px 10px 5px 10px !important;
  }
  .footer-socials {
    font-size: 1em !important;
  }
  .footer-socials>a>img {
    width: 20px;
  }
  .footer {
    font-size: 0.5em !important;
    padding: 0px !important;
  }
  .footer>img {
    width: 50px;
  }
  .green-box {
    width: 70% !important;
    margin-left: 30px;
    padding: 20px 40px 5px 40px !important;
  }
  .contact-box {
    margin-right: 30px;
  }
  .concept-wrapper {
    left: 20px;
    right: 20px;
    top: 150px;
  }
  .concept-box {
    font-size: 0.65em;
  }
  .google-map {
    margin-right: 30px;
    margin-bottom: 50px;
  }
  .google-map>iframe {
    width: 100%;
    height: 200px;
  }
  .first-carte-box {
    font-size: 0.5em;
    padding: 20px 10px 20px 20px;
  }
  .second-carte-box {
    font-size: 0.5em;
    padding: 20px 10px 20px 60px;
  }
  .first-carte {
    margin-left: 30px;
    margin-right: 10px;
  }
  .second-carte {
    width: 70%; 
    right: 0px; 
    top: -40px;
  }
  .bottom-block {
    margin-top: 100px; 
  }
}

@media (min-width: 768px) {
  .container>.navbar-header {
    margin-right: 150px;
    padding-left: 100px;
  }
}